.container-graph {
  display: flex;
  flex: 1 1 auto;
}
.lines-container {
  flex: 1 1 70%;
}
.legend-container {
  flex: 1 1 30%;
}
.lines {
  padding-left: 0px;
}
ul {
  padding-left: 0px;
}
.legend-title {
  font-weight: bold;
}
.legend {
  padding-left: 0px;
}
.legend ul{
  margin: 0px;
  list-style: none;
}
.legend ul li:before {
  content: "•";
  font-size: 170%;
}
